html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.sign-container{
  -webkit-app-region: drag;
  user-select: none;
  position: absolute;
  top: 70px;
  bottom: 70px;
  left: 33px;
  right: 33px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  animation:comeInto 0.5s ease-in 1;
}
.sign-header{
  padding: 30px 0 16px;
  color: #0084ff;
  text-align: center;
}
.sign-header .logo{
  margin: 0;
  font-size: 64px;
  height: 64px;
  line-height: 64px;
}
.sign-header .slogans{
  margin: 15px 0 0;
  font-size: 22px;
}
.sign-inner{
  padding: 0 40px 0;
}
.login{
  display: none;
}

.area-code{
  float: left;
}

.seperator{
  float: left;
  width: 1px;
  height: 22px;
  margin: 24px 12px 0;
  background: #ebebeb;
}

.btn{
  display: inline-block;
  padding: 0 16px;
  font-size: 14px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: 1px solid;
  border-radius: 3px;
  width: 100%;
  margin-top: 30px;
  border-color: #0084ff;
  background-color: #0084ff;
}

.btn:focus{
  outline: none;
}

.btn:hover:not(:disabled){
  border-color: #0077e6;
  background-color: #0077e6;
}

.sign-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 58px;
  line-height: 58px;
  background-color: #f6f6f6;
  border-top: 1px solid #ebebeb;
  font-size: 16px;
  text-align: center;
  border-radius: 0 0 4px 4px;
}
.sign-footer span{
  color: #175199;
  cursor: pointer;
  -webkit-app-region: no-drag;
}
input,
button{
  -webkit-app-region: no-drag;
}

@keyframes comeInto{
  0% { opacity:0;transform:scale(0.3,0.3)}
  100% { opacity:1;transform:scale(1,1)}
}