<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>登录注册</title>
  <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
  <div class="sign-container">
    <div class="sign-header">
      <h1 class="logo">LOGO</h1>
      <p class="slogans">slogans</p>
    </div>
    <div class="sign-inner">
      <div class="login">
        登录
      </div>
      <div class="register">
        <div class="reg-account">
          <button class="area-code">
            中国 +86
            <span>**</span>
          </button>
          <div class="seperator">&nbsp;</div>
          <div class="account-container">
            <input type="text" placeholder="手机号">
          </div>
        </div>
        <div class="reg-SMS">
          
        </div>
      </div>
      <button class="btn">注册|登录</button>
    </div>
    <div class="sign-footer">
      已有账号？<span>登录</span>
    </div>
  </div>
  <script src="../viewAction/login.js"></script>
</body>
</html>